<div class="gallery">
  <div class="thumbnails">
    <img src="assets/big/img1.jpg" (click)="loadImage($event)"/>
    <img src="assets/big/img2.jpg" (click)="loadImage($event)"/>
    <img src="assets/big/img3.jpg" (click)="loadImage($event)"/>
    <img src="assets/big/img4.jpg" (click)="loadImage($event)"/>
    <img src="assets/big/img5.jpg" (click)="loadImage($event)"/>
    <img src="assets/big/img6.jpg" (click)="loadImage($event)"/>
    <img src="assets/big/img7.jpg" (click)="loadImage($event)"/>
    <img src="assets/big/img8.jpg" (click)="loadImage($event)"/>
  </div>
  <div [class.active]="active" class="viewport">
    <a class="closeButton" (click)="close($event)"></a>
    <img class="viewportImg"[src]="imgSrc"/>
  </div>
</div>
