<!--The content below is only a placeholder and can be replaced.-->
<header>
  <h1>Web muestra sobre esports</h1>
  <app-shoutcast></app-shoutcast>
</header>
<nav>
  <a href="#twitch">CSGO Livestream</a>
  <a href="#yt">Top 10 Moments eSports</a>
  <a href="#vim">Demistifying eSports</a>
  <a href="#dm">Top eSports Players</a>
</nav>
<div class="page">
  <app-gallery class="component"></app-gallery>
  <app-slider class="component"></app-slider>
  <div class=" component">
    <h2>Videos:</h2>
    <div class="videos">
      <app-video id="yt" [videoUrl]="'https://www.youtube.com/watch?v=mYG1DA4vd-4'"></app-video>
      <app-video id="vim" [videoUrl]="'https://vimeo.com/270629847'"></app-video>
      <app-video id="dm" [videoUrl]="'https://www.dailymotion.com/video/x71w719'"></app-video>
      <app-video id="twitch" [videoUrl]="'https://www.twitch.tv/esl_csgo'"></app-video>
    </div>
  </div>
</div>
<footer>
  <div>
    <h3>Plataformas de video</h3>
    <ul>
      <li><a href="https://www.youtube.com/">Youtube</a></li>
      <li><a href="https://www.twitch.tv/">Twitch</a></li>
      <li><a href="https://vimeo.com/">Vimeo</a></li>
      <li><a href="https://www.dailymotion.com/">DailyMotion</a></li>
    </ul>
  </div>
  <div>
    <h3>RRSS</h3>
    <ul>
      <li><a href="https://www.facebook.com/">Facebook</a></li>
      <li><a href="https://www.twitter.com/">Twitter</a></li>
      <li><a href="https://www.youtube.com/">Youtube</a></li>
    </ul>
  </div>
  <div>
    <h3>Info</h3>
    <ul>
      <li>Juan Francisco Piñera Ovejero</li>
      <li>Email: <a href="mailto:uo244707@uniovi.es">UO244707@uniovi.es</a></li>
    </ul>
  </div>
</footer>
<router-outlet></router-outlet>
